**/.venv/
**/__pycache__/
**/*.pyc
**/*.log.tmp
**/local_server.*.log
**/server_stdout.log
**/server_stderr.log
**/applications/aliyun_cloud/data/*.json
**/applications/aliyun_cloud/data/*.db
**/Objects/
**/Listings/
**/*.log
**/*.out
**/*.err
**/*.axf
**/*.bin
**/*.hex
**/*.o
**/*.map
**/*.lst
mq136_sth40_demo_work/Objects/
mq136_sth40_demo_work/Listings/
mq136_sth40_demo_work/.settings/
mq136_sth40_demo_work/.vscode/
